.restaurant-card {
    text-align: center;
    border: 2px solid white; 
    border-radius: 8px; 
    padding: 20px;
    background-color: white;
    width: 100%; 
    max-width: 800px; 
    margin: 20px auto; 
  }
  
  .business-cards-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
  }
  
  .card2 {
    flex: 1; 
    margin: 0 10px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 70px;
  }
  
  .card2 h1 {
    font-size: 2em; 
    margin: 0; 
  }
  
  .card2 p {
    margin-top: 10px; 
    font-size: 1em; 
  }
  
  
  .how-it-works {
    background-image: url('./Food23.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    color: white; 
  }
  
  .steps-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .step {
    flex: 1;
    max-width: 300px;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center; 
    background-color: rgba(1, 1, 1, 0.5); 
  }
  
  .step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .step h3 {
    color: #fff; 
    margin-bottom: 10px;
  }
  
  .step p {
    color: #f0f0f0; 
  }
  


  .testimonial-container {
    position: relative; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px 0; 
  }
  
  .testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100%; 
    max-width: 600px; 
    padding: 20px; 
  }
  
  .testimonial-arrow {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
  }
  
  .arrow-left {
    left: -50px; 
  }
  
  .arrow-right {
    right: -50px; 
  }